﻿@model Scheduler.Mvc.Models.ScheduleViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>ScheduleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Server</label>
                @Html.ListBoxFor(s => s.ServerIds, Model.Servers, new { @class = "form-control" })
                <span asp-validation-for="Servers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" type="date" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" type="time" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@if (Model.Invalid)
{

    <div class="row">
        <div class="col-md-4">
            <h4>API validation error:</h4>
            <table class="table">
                <tr>
                    <th>Property</th>
                    <th>Message</th>
                </tr>
                @foreach (var err in Model.Notifications)
                {
                    <tr>
                        <td>
                            @err.Property
                        </td>
                        <td>
                            @err.Message
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
@if (Model.FatalError)
{

    <div class="row">
        <div class="col-md-4">
            <h4>Unexpected error in API</h4>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
