﻿@model IEnumerable<Scheduler.Domain.Entities.Schedule>
@{
    ViewData["Title"] = "Schedules";
}
<h2>Schedules</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Schedule
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item.DayTime.ToString("dd/MM/yyyy - HH:mm")
            </td>
            <td>
                @item.Server
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>