﻿@model Scheduler.Mvc.Models.ServerViewModel
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>
<h4>ServerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@if (Model.Invalid)
{

    <div class="row">
        <div class="col-md-4">
            <h4>API validation error:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var err in Model.Notifications)
                {
                        <tr>
                            <td>
                                @err.Property
                            </td>
                            <td>
                                @err.Message
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.FatalError)
{

    <div class="row">
        <div class="col-md-4">
            <h4>Unexpected error in API</h4>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
